annotated-types
anyio
click
colorama
fastapi
h11
httptools
idna
joblib
nltk
numpy
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
regex
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
tqdm==4.66.1
typing_extensions
tzdata
uvicorn
watchfiles
websockets
